body {
    font-family: Microsoft JhengHei;
}
#banner {
  margin-top: 4rem;
}

.card{   /*9-10新增.card的覆蓋(overflow)屬型為隱藏(hidden)*/
    overflow:hidden;
}
.card-img-top{
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.card-img-top:hover{
    transform:scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0.90; 
}
* {
  font-family: 'Microsoft JhengHei', sans-serif;
}
.navbar {
  display: flex;
 /* 讓裡面的東西靠右 */
  align-items: center;
  padding: 10px 20px; /* 可調整左右邊距 */
}